.desktop {
    padding: 0;
    margin: 0;
    width: calc(100% - 50px);
    height: calc(100vh - 50px);
    max-height: 100vh;
    display: flex;
    padding: 25px;
}

.file {
    padding: 10px 5px;
    text-align: center;
    height: fit-content;
    margin: 5px;
    min-width: 75px;
}

.file:hover {
    background-color: var(--colore2);
}

.file i {
    font-size: 50px;
    margin-bottom: 10px;
}

.windowdiv {
    width: 500px;
    height: 300px;
    position: absolute;
    top: calc(50% - 200px);
    right: calc(50% - 250px);
    background-color: var(--colore1);
    border: 1px solid;
}

.windowbar {
    height: auto;
    width: 100%;
    background-color: var(--colore2);
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0;
}

.windowicons {
    float: right;
    margin-right: 10px;
}

.windowicons i {
    margin-left: 5px;
}

.windowtitle {
    float: left;
    margin-left: 10px;
}