:root {
    --colore1: #f1f1f1d9;
    --colore15: #f1f1f14d;
    --colore2: #ebebeb;
    --bgcolor: white;
    --textcolor: black;
}

#sun {
    border: 1px solid;
    opacity: 100%;
}

#moon {
    opacity: 30%;
}