@media screen and (max-width:500px) {
    .start-mobile,
    .start {
        display: none!important;
    }
    .icons,
    .toggles {
        display: none!important;
    }
    .start-phone {
        width: 100%;
        display: flex;
    }
    .navbar {
        height: auto;
        width: auto;
        padding: 16px;
        border-radius: 30px;
        text-align: center;
        font-size: 38px;
        right: 10px;
        bottom: 10px;
        transition: all 1s;
    }
    .phone-toggles {
        position: absolute;
        border-radius: 30px;
        right: 13px;
        bottom: 70px;
        display: none;
    }
    .phoneicons {
        display: none;
        margin-left: 16px;
    }
    .phoneicons i {
        margin: 0 4px;
    }
    #moon,
    #sun {
        border: none;
        margin-bottom: 10px;
        font-size: 30px;
        text-align: center;
    }
    #closebutton {
        position: absolute;
        right: 18px;
        display: none;
    }
    .applications {
        display: none;
        height: 60vh;
        min-height: 150px;
        position: absolute;
        left: 5px;
        bottom: 90px;
        width: 75%;
        min-width: 195px;
        border-radius: 20px;
        padding: 6px;
        background: linear-gradient(var(--colore1) 25%, transparent 100%);
    }
    .applications ul {
        display: block;
        text-align: left;
        font-size: 25px;
    }
    .applications ul li {
        padding: 10px 5px;
        border-bottom: 1px solid;
    }
    .applications ul li i {
        margin-right: 10px;
        font-size: 20px;
    }
    .applications ul li:last-child {
        border-bottom: none;
    }
    .applications h4 {
        margin: 7px;
    }
}